%main.page.landing-page
  %section.clean-block.clean-hero
    .text
      %h2{:style => "font-family:'Allerta Stencil', sans-serif;font-size:50px;"} Achieve
      %p 練習のために作成したお試し呟きサイト
      = link_to '呟き一覧を見る！', tweets_path, class: 'btn btn-outline-light btn-lg'
      = link_to 'さっそく呟く！', new_tweet_path, class: 'btn btn-outline-light btn-lg'
  %section.block-content{style:"padding: 50px 0;"}
    .container
      %h3.text-center{style: "font-weight: bold; padding: 30px 0;"}
        呟きアプリ
      %p.text-center{style: "color:#7d8285;"}
        練習として作成した呟きアプリです。
