.tweet-block.block-content{
  .top{
    .left-block{
      float:left;
      font-size: 23px;
      font-weight: bold;
    }
    .right-block{
      float:right;
    }
  }
  .content-block{
    font-size: 20px;
  }
}
