.tweet-block.block-content{
  .top{
    .left-block{
      float:left;
      font-size: 23px;
      font-weight: bold;
    }
    .right-block{
      float:right;
    }
  }
  .content-block{
    font-size: 20px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.user-name{
  color: #212529
}
